.projects-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  padding: 2.75rem;
}
.card {
  width: 100%;
  border: 1px solid;
  box-shadow: 0 5px 5px rgba(10, 10, 10, 0.3);
}
.card > h1 {
  font-size: 2rem;
  margin-left: 1rem;
}
.card > p {
  text-align: justify;
  margin: 1rem;
}

.card > button {
  border: none;
  font-size: 20px;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.card > button > a {
  color: blue;
  text-decoration: none;
}
.card > button > a:hover {
  color: rgb(55, 55, 87);
}

@media screen and (max-width: 640px) {
  .projects-container {
    padding: 0.5rem;
  }
}
