.about-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(208, 223, 228);
  gap: 5rem;
  width: 100%;
  padding: 5rem;
}
.about-me > p {
  margin-top: 1rem;
}
.about-me,
.skills {
  width: 50%;
}

.about-me > h1,
.skills > h1 {
  font-size: 2rem;
}

.skills > ul {
  margin-top: 0.5rem;
  margin-left: 1.2rem;
}

.about-container > .about-me > p {
  text-align: justify;
}

.about-me > p > a {
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .about-container {
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    gap: 2rem;
    margin-top: 0;
  }
  .about-me {
    width: 100%;
  }
  .skills {
    width: 100%;
  }
}
