::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
}
.about-container{
    display: flex;
    background-color: rgb(248, 244, 244);
    gap: 10rem;
    border: 1px solid;
    padding: 50px 0;
    margin-top: 5rem;
    margin-left: 4rem;
    width: 90%;
}
.line{
    background-color: rgb(0, 0, 0);
    height: 45vh;
    flex: 0.001;
    margin-left: -8rem;
}
.skills>ul{
    margin-left: 1.2rem;
}
.about-me{
    flex: 2;
    margin-left: 6rem;
    width: auto;
}
.about-container>.about-me>p{ 
    text-align: justify;
}
.about-me>p>a{
    text-decoration: none;
}
.skills{
    flex: 1;
    margin-left: -8rem;
}