.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem;
}

.left {
  width: 50%;
}

h1 {
  font-size: 3rem;
}
h1 > img {
  width: 20%;
}

@media screen and (max-width: 640px) {
  .home-container {
    flex-direction: column;
  }

  h1 {
    font-size: 2rem;
  }
  .left {
    width: 100%;
  }

  .right > img {
    width: 100%;
  }
}
