.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(248, 244, 244);
  gap: 2rem;
  padding: 3rem;
  margin-top: 2rem;
}
.contact-container > h1 {
  font-size: 2rem;
}
.icons {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.contact-container > .icons > p {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact-container > .icons > p > img {
  width: 20px;
}
