.contact-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 244, 244);
    gap: 10rem;
    border: 1px solid;
    padding: 20px 0;
    margin-top: 5rem;
    margin-left: 4rem;
    width: 90%;
}
.contact-container>h1{
    margin-left: 5rem;
}
.icons{
    margin-left: 5rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin-top: -8rem;
}
.contact-container>.icons>p{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.contact-container>.icons>p>img{
    width: 40px;
}